<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html lang="en">

<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Block.Africa | Welcome</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


<link rel="icon" type="image/png" href="icons/favicon.png">

<!-- Bootstrap -->
<link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Fontawesome -->
<link rel="stylesheet" type='text/css' href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">

<!-- Google Fonts -->
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Varela+Round'>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



<!-- Main Stylesheet -->
<link rel="stylesheet" type='text/css' href="css/main.css">
<link rel="stylesheet" type='text/css' href="css/team.css">
<link rel="stylesheet" type='text/css' href="css/team2.css">
<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	
<!--============================-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
     <script src="js/html5shiv.js"></script>
     <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="icons/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="icons/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="icons/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="icons/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="icons/favicon.png">

<!-- Modernizer -->
<script src="js/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->    
                
    <!-- Main Navigation -->
    
    <!-- End Main Navigation -->
    
    <!-- Main Content -->
    <div id="wrap">
	<div id="skrollr-body">

		<!-- Main Navigation -->
			<!-- Navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-background">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="#image-hero">
						<div class="visible-lg visible-md margin-top-10">
							<img src="media/logo/logo_regular.png" alt="Block.Africa Logo">
						</div>

						<div class="visible-sm visible-xs">
							<img src="media/logo/logo_small.png" alt="Block.Africa Logo">
						</div>
					</a>
				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						
						<li><a href="#image-hero">Home</a></li>
						
						<li><a href="#About">About Us</a></li>
						
						<li><a href="#team">Team</a></li>
						
						<li><a href="#work">Blog</a></li>
						
						
						<li><a href="#project">Projects</a></li>
						
					</ul>
				</div>
			</div>
		</div>

		<img class="bottom-diagonal-navbar hidden-xs hidden-sm" src="media/img/navbar-diagonal-caribbean-green.png" alt="">
	</div>
	<!-- End Navbar -->
		<!-- End Main Navigation -->

		<!-- Hero -->
			<section id="image-hero" class="fullscreen-content">
		<div class="fullscreen-image hero-image" data-0-top="background-position-y: 0px" data-top-bottom="background-position-y: -400px"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Welcome text -->
					<div class="welcome" data-0="opacity: 1" data-200="opacity: 0">
						<h1 class="text-brand-main-color">Block.Africa</h1>
						<h4 class="text-white">Welcome to the official website.</h4>
					</div>
					<!-- End Welcome text -->

					<!-- Scroll down arrow -->
					<div class="hero-scroll-down-arrow text-center" data-0="opacity: 1" data-200="opacity: 0">
						<i class="fa fa-chevron-circle-down fa-5x text-white"></i>
					</div>
					<!-- End Scroll down arrow -->
				</div>
			</div>
		</div>
	</section>
		<!-- End Hero -->
            <img class="top-diagonal hidden-xs hidden-sm" src="media/img/top-diagonal.png" alt="">
		<!-- Features -->
					{{ content }}
		<!-- Contact -->
		<section id="contact" class="section-content main-background-color">
			<img class="top-diagonal hidden-xs hidden-sm" src="media/img/top-diagonal.png" alt="">

			<div class="container">
				<div class="row">
					<div class="col-lg-12">

						<h1 class="text-center"></h1>
						<hr class="margin-bottom-50">

						<div class="margin-top-80 margin-bottom-50">
							<div class="row">
								
								<!-- Single Service -->
								<div class="col-lg-4 col-md-4 col-sm-4 padding-top-20">
									<div class="row">
										<div class="col-lg-3 col-md-3">
											
										</div>
										<div class="col-lg-9 col-md-9">
											<h3 class="text-main-brand-color">Visit our Github Page</h3>
											<p>This website is opensource, want to help out or make a quick suggestion.</p>
										</div>
									</div>
								</div>
								<!-- End Single Service -->
								
								<!-- Single Service -->
								<div class="col-lg-4 col-md-4 col-sm-4 padding-top-20">
									<div class="row">
										<div class="col-lg-3 col-md-3">
											
										</div>
										<div class="col-lg-9 col-md-9">
											<h3 class="text-main-brand-color">Join our whatsapp group</h3>
											<p>You will find most of the group members here, come have fun and enjoy yourself.</p>
										</div>
									</div>
								</div>
								<!-- End Single Service -->
								
								<!-- Single Service -->
								<div class="col-lg-4 col-md-4 col-sm-4 padding-top-20">
									<div class="row">
										<div class="col-lg-3 col-md-3">
											
										</div>
										<div class="col-lg-9 col-md-9">
											<h3 class="text-main-brand-color">Click to Join our Discord server</h3>
											<p>Tag any admin in there and you will be put through to the team members</p>
										</div>
									</div>
								</div>
								<!-- End Single Service -->
								
							</div>						
						</div>
					</div>
				</div>
			</div>

			
		</section>
		<!-- End Contact -->	
    <footer class="flex-rw">
 
  <section class="footer-social-section flex-rw">
      
      <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://github.com/AQUACY/" class="generic-anchor" target="_blank" title="Github" itemprop="significantLink"><i class="fab fa-github"></i></a>
      <a href="https://chat.whatsapp.com/HP6NoeKyyIV8UsSInegBYR" class="generic-anchor" target="_blank" title="Whatsapp" itemprop="significantLink"><i class="fab fa-whatsapp"></i></a>
      <a href="https://discord.gg/9J2bTxY" class="generic-anchor" target="_blank" title="Discord" itemprop="significantLink"><i class="fab fa-discord""></i></a>
      </span>
  </section>
  <section class="footer-bottom-section flex-rw">
<div class="footer-bottom-wrapper"s>   
<i class="fa fa-copyright" role="copyright">
 
</i> 2019 Block.Africa <address class="footer-address" role="company address"></address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
    </div>
  </section>
</footer>
		
	</div>
	
</div>

    <!-- End Main Content -->

        
    
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/respond.min.js"></script>
<script type="text/javascript" src="js/retina.min.js"></script>
<script type="text/javascript" src="js/skrollr.min.js"></script>
<script type="text/javascript" src="js/jquery.hidenavbaronscroll.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

<script type="text/javascript">
    var contactLatitude  = 37.3321722;
    var contactLongitude = -122.0305748;
    var markerTitle      = "Apple Incorporated.";
    var markerAddress    = "1 Infinite Loop Cupertino, CA 95014";
</script>

<script src="js/main.js"></script>

<!--===============================================================================================-->
</body>

</html>
